<div class="container mt-5 pt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <img src="../assets/avatar.png" alt="">
      <div class="card" style="box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
        <div class="card-header text-center">
          <h4 class="m-0">Lista de Tareas</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="formularioTarea" class="mb-3">
            <div class="input-group" id="colum">

              <input type="text" class="form-control" placeholder="Título" formControlName="titulo" maxlength="17">
              <input type="text" class="form-control" placeholder="Descripción" formControlName="descripcion"
                maxlength="17">
              <select class="form-select" aria-label="Default select example" formControlName="prioridad"
                [(ngModel)]="prioridadDefault">
                <option value="Baja">Baja</option>
                <option value="Media">Media</option>
                <option value="Alto">Alto</option>
              </select>
              <input type="text" class="form-control" placeholder="Estado" formControlName="estado" readonly
                [ngModel]="'Pendiente'">

              <button class="btn btn-primary" type="button" [disabled]="formularioTarea.invalid"
                (click)="agregarTarea()">
                Agregar
              </button>

            </div>
          </form>

          <ul class="list-group">
            <li class="list-group-item" *ngFor="let tarea of listaTareas">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <h5 class="m-0">{{ tarea.titulo }}</h5>
                  <p class="mb-0">{{ tarea.descripcion }}</p>
                </div>
                <div>
                  <span [ngStyle]="{
                    'background-color': tarea.prioridad === 'Baja' ? '#0D6EFD' :
                                        tarea.prioridad === 'Media' ? '#FFC107' :
                                        tarea.prioridad === 'Alta' ? 'red' : '#DC3545',
                    'color': 'white',
                    'padding': '4px 8px',
                    'border-radius': '4px',
                    'margin': '0 1rem'

                  }">
                    {{ tarea.prioridad }}
                  </span>

                  <button type="button" class="btn btn-danger" (click)="eliminarTarea(tarea)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-trash" viewBox="0 0 16 16">
                      <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z">
                      </path>
                      <path
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z">
                      </path>
                    </svg>
                  </button>

                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
